*, html{
	margin: 0px;
	padding: 0px;
}
h2{
	color: #fff;
	font-family: helvetica;
	text-align: center;
}
#home {
	background: url(images/bg_0.jpg) 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#seccion2 {
	background: url(images/bg_1.jpg) 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#section3{
	background: url(images/bg_2.jpg) 50% 0 no-repeat fixed;
	min-height: 700px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
article{
	padding: 100px;
}
.geekhome{
	background: url(images/geek.png) no-repeat;
	display: block;
	height: 368px;
	margin: 0px auto;
	width: 517px;
}
